
Code/.vs/CredentialsManager/v16/.suo
Code/.vs/CredentialsManager/v16/Server/sqlite3/db.lock
Code/.vs/CredentialsManager/v16/Server/sqlite3/storage.ide
Code/.vs/CredentialsManager/v16/Server/sqlite3/storage.ide-shm
Code/.vs/CredentialsManager/v16/Server/sqlite3/storage.ide-wal
.vs/CredentialsManager/v16/.suo
